.font {
    font-size: 20vw;
    white-space: nowrap;
    font-size: 100%;
    font-weight: 700;
    color: #D1BEB0;
}

.form-control {
    background-color: #88b638;
    color: white;
}


label > span {
    background-color: #88b638;
    color: white;
}
